* {
  cursor: none !important;
}

html {
  scrollbar-width: 20px;
}

.content::-webkit-scrollbar-thumb {
  background-color: linear-gradient(45deg, #aaf, #448);
}

body {
  background-color: #050510;
  text-decoration: none;
  min-height: 100%;
}

#cursor div {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2147483647;
  pointer-events: none !important;
}

#cursor div#dot1 {
  background: rgba(119, 174, 230, 0.8);
  filter: drop-shadow(0 0 0.4rem rgb(114, 236, 206));
  mix-blend-mode: exclusion;
  transition: width 0.2s, height 0.2s;
}

#cursor div#dot1.active {
  height: 25px;
  width: 25px;
  background: rgba(119, 174, 230, 0.3);
  filter: drop-shadow(0 0 0.6rem rgb(114, 236, 206));
  mix-blend-mode: exclusion;
}

#cursor div#dot1.pointer {
  height: 25px;
  width: 25px;
  border-top: 5px solid #f0897f;
  border-right: 5px solid #f6da69;
  border-bottom: 5px solid #b2ce54;
  border-left: 5px solid #6aa7cd;
  background: rgba(119, 174, 230, 0.3);
  filter: drop-shadow(0 0 0.6rem rgb(114, 236, 206));
  mix-blend-mode: exclusion;
}

#cursor div#dot1.text {
  border-radius: 0;
  height: 1.4em;
  width: 4px;
}

.wapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2147483647;
}

header {
  width: 100%;
  background-color: rgb(28, 28, 54);
  margin: 0;
  display: flex;
  z-index: 10000 !important;
}

header div {
  display: flex;
  height: 80px;
  color: black;
}

#headNav {
  width: 750px;
  margin: 0 auto;
  height: 2rem;
  display: flex;
  margin: auto;
}

#headNav > ul {
  font-size: 1.25rem;
  list-style: none;
  height: 2rem;
  display: flex;
  margin: 0 auto;
}

#headNav li {
  list-style: none;
  width: 150px;
  position: relative;
}

#headNav li li {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

#headNav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}

#headNav li ul li ul {
  left: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#headNav li a {
  color: #ddd;
  display: block;
  background: #0f0f0f;
  text-decoration: none;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  z-index: 5 !important;
}

#headNav .btn {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  text-align: center;
  outline: none;
  transition: ease 0.2s;
  background: #0f0f0f;
  z-index: 5 !important;
}

#headNav span {
  position: relative;
  z-index: 3;
  color: #ddd;
  z-index: 5 !important;
}

#headNav .btn:hover span {
  color: #fff;
}

#headNav .btn::before {
  background: #fff;
  z-index: 2;
}

#headNav .bganime:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #333;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scaleX(0);
  transform-origin: right top;
}

#headNav .bganime:hover::before {
  transform-origin: left top;
  transform: scaleX(1);
}

#headNav ul:nth-last-child() {
  right: 0;
}

#headNav li {
  float: none;
}

.news,
.members {
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f0f0f;
  width: 800px;
  height: 550px;
  border: 2px solid steelblue;
  border-radius: 10px 0 30px 0;
  color: #ddd;
  text-align: center;
  font-size: 2rem;
}

ul.cards {
  width: 660px;
  margin: 0 auto 20px;
  height: 300px;
  list-style-type: none;
  position: relative;
  padding: 20px 0;
}

ul.cards li.title {
  margin: 0 0 20px;
}

ul.cards li.title h2 {
  font-weight: 700;
}

ul.cards li.card {
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  -webkit-box-shadow: 1px 2px 2px 0 #aaa;
  box-shadow: 1px 2px 2px 0 #aaa;
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

ul.cards li.card img {
  max-width: 100%;
  height: auto;
}

ul.cards li.card div.content {
  padding: 5px 10px;
}

ul.cards li.card.card-1 {
  z-index: 10;
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}

ul.cards li.card.card-2 {
  z-index: 9;
  -webkit-transform: rotateZ(-7deg);
  transform: rotateZ(-7deg);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

ul.cards li.card.card-3 {
  z-index: 8;
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

ul.cards.transition li.card {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

ul.cards.transition li.card.card-1 {
  left: 440px;
}

ul.cards.transition li.card.card-2 {
  left: 220px;
}

ul.card-stacks {
  width: 660px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  height: 550px;
}

ul.card-stacks li.title {
  margin: 0 0 20px;
}

ul.card-stacks li.title h2 {
  font-weight: 700;
}

ul.card-stacks li.stack {
  position: absolute;
  left: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.02);
}

ul.card-stacks li.stack ul.cards-down {
  position: relative;
  margin: 0 0 20px;
  padding: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.card-stacks li.stack ul.cards-down li.card {
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.22);
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.22);
  left: 0px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  -webkit-box-shadow: 1px 2px 2px 0 #aaa;
  box-shadow: 1px 2px 2px 0 #aaa;
}

ul.card-stacks li.stack ul.cards-down li.card img {
  max-width: 100%;
  height: auto;
}

ul.card-stacks li.stack ul.cards-down li.card div.content {
  padding: 0 10px;
}

ul.card-stacks li.stack ul.cards-down li.card.card-1 {
  z-index: 10;
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}

ul.card-stacks li.stack ul.cards-down li.card.card-2 {
  z-index: 9;
  -webkit-transform: rotateZ(-7deg);
  transform: rotateZ(-7deg);
}

ul.card-stacks li.stack ul.cards-down li.card.card-3 {
  z-index: 8;
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

ul.card-stacks.transition li.stack.stack-1 {
  left: 0px;
}

ul.card-stacks.transition li.stack.stack-2 {
  left: 230px;
}

ul.card-stacks.transition li.stack.stack-3 {
  left: 450px;
}

ul.card-stacks.transition li.stack ul.cards-down li.card {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

ul.card-stacks.transition li.stack ul.cards-down li.card.card-2 {
  top: 220px;
}

ul.cards-split {
  width: 660px;
  height: 280px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 20px;
  padding: 20px;
}

ul.cards-split li.title {
  margin: 0 0 20px;
}

ul.cards-split li.title h2 {
  font-weight: 700;
}

ul.cards-split li.card {
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  -webkit-box-shadow: 1px 2px 2px 0 #aaa;
  box-shadow: 1px 2px 2px 0 #aaa;
  -webkit-transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

ul.cards-split li.card img {
  max-width: 100%;
  height: auto;
}

ul.cards-split li.card div.content {
  padding: 5px 10px;
}

ul.cards-split li.card.card-1 {
  z-index: 10;
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}

ul.cards-split li.card.card-2 {
  z-index: 9;
  -webkit-transform: rotateZ(-7deg);
  transform: rotateZ(-7deg);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

ul.cards-split li.card.card-3 {
  z-index: 8;
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

ul.cards-split.transition li.card {
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

ul.cards-split.transition li.card.card-1 {
  left: 0px;
}

ul.cards-split.transition li.card.card-2 {
  left: 440px;
}

ul.cards-split.transition li.card.card-3 {
  left: 220px;
}

ul.card-stacks h1 {
  font-size: 20px;
  color: gray;
}

ul.card-stacks p {
  font-size: 15px;
  color: gray;
}

footer {
  width: 100%;
  height: 180px !important;
  background-color: rgb(28, 28, 54);
  z-index: 100000;
  opacity: 1;
  visibility: visible;
  margin-top: auto;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: black;
}

#footNav {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

footer .left {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: flex-start;
  width: 30%;
  margin-left: 40px;
}

footer #footNav .left ul {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

footer #footNav .left ul li {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

footer #footNav .right {
  display: flex;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  left: 30%;
}

footer #footNav .right > ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

footer #footNav .right ul > li {
  margin-left: 15px;
  margin-right: 15px;
}

footer #footNav .right ul > li li {
  margin-left: auto;
  margin-right: auto;
}

footer #footNav .right ul li {
  text-align: center;
}

footer #footNav .right ul li ul li {
  text-align: center;
}

footer #footNav .right span {
  /*border: 1px solid gray;
  background-color: rgba(20, 20, 20, 0.925);*/
  font-size: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}

footer #footNav .right a::before {
  color: black;
}

footer #footNav .right a:hover {
  color: #ddd;
}

footer .copyright {
  position: absolute;
  left: 80%;
  bottom: 20px;
  color: gray;
}